@page "/exerciselogs"
@using WorkoutApp.DTOs
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Exercise Logs</PageTitle>

<Heading Size="HeadingSize.Is2" Padding="Padding.Is3" TextAlignment="TextAlignment.Center" Style="box-shadow: rgba(0, 0, 0, 0.15) 0px 25px 20px -20px;">Exercise Logs</Heading>


<DataGrid TItem="ExerciseLogDto"
          Data="@ExerciseLogsData"
          Filterable
          FilterMethod="DataGridFilterMethod.StartsWith"
          Responsive
          Editable
          ShowPager
          Hoverable
          Narrow
          ShowPageSizes
          Class="styled-data-grid"
          Style="box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; padding: 30px;">

    <DataGridColumns>
        <DataGridColumn TItem="ExerciseLogDto" Field="Workout.Name" Caption="Workout" TextAlignment="TextAlignment.Center">
            <DisplayTemplate>
                @{
                    var workout = (context as ExerciseLogDto)?.Workout;

                    if (workout != null)
                    {
                        @($"{workout.Name} - {workout.Date}")
                    }
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="ExerciseLogDto" Field="Exercise.Description" Caption="Exercise" TextAlignment="TextAlignment.Center">
            <DisplayTemplate>
                @{
                    var exercise = (context as ExerciseLogDto)?.Exercise;

                    if (exercise != null)
                    {
                        @($"{exercise.Type} - {exercise.Description}")
                    }
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="ExerciseLogDto" Field="Reps" Caption="Repetitions" TextAlignment="TextAlignment.Center" Editable></DataGridColumn>
        <DataGridColumn TItem="ExerciseLogDto" Field="Duration" Caption="Duration" TextAlignment="TextAlignment.Center" Editable></DataGridColumn>

        <AuthorizeView Roles ="Administrator" Context="authExLogsContext">
            <DataGridCommandColumn TItem="ExerciseLogDto" Caption="Action" ClearFilterCommandAllowed="true" TextAlignment="TextAlignment.Center">
                <DeleteCommandTemplate>
                    <Button Color="Color.Danger" Size="Size.Small" Clicked="() => OnDeleteButtonClicked(context)">Delete</Button>
                    <Modal @ref="modalRef" Closing="@OnModalClosing">
                        <ModalContent Centered>
                            <ModalHeader>
                                <ModalTitle>Confirm Delete</ModalTitle>
                            </ModalHeader>
                            <ModalBody>
                                Are you sure you want to delete this exercise log?
                            </ModalBody>
                            <ModalFooter>
                                <Button Class="SecondaryButton" Style="color: #fff" Clicked="@CloseModal">No</Button>
                                <Button Class="PrimaryButton" Style="color: #fff" Clicked="@TryCloseModal">Yes</Button>
                            </ModalFooter>
                        </ModalContent>
                    </Modal>
                </DeleteCommandTemplate>
            </DataGridCommandColumn>
        </AuthorizeView>
        

    </DataGridColumns>
</DataGrid>

<style>
    .styled-data-grid {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
    }

        .styled-data-grid th, .styled-data-grid td {
            padding: 12px 15px;
        }

        .styled-data-grid th {
            background-color: #f2f2f2;
            border-bottom: 2px solid #e2e2e2;
        }

        .styled-data-grid td {
            border-bottom: 1px solid #e2e2e2;
        }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 4px;
    }

    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
        border-radius: 4px;
        color: #fff;
        padding: 5px 10px;
        margin-right: 5px;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        border-radius: 4px;
        color: #fff;
        padding: 5px 10px;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        border-radius: 4px;
    }
</style>