@page "/exerciselogs"
@using WorkoutApp.DTOs
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Exercise Logs</PageTitle>

<h3>ExerciseLogs</h3>


<DataGrid TItem="ExerciseLogDto"
          Data="@ExerciseLogsData"
          Filterable
          FilterMethod="DataGridFilterMethod.StartsWith"
          Responsive
          Editable
          ShowPager
          ShowPageSizes>

    <DataGridColumns>
        <DataGridColumn TItem="ExerciseLogDto" Field="Workout.Name" Caption="Workout">
            <DisplayTemplate>
                @{
                    var workout = (context as ExerciseLogDto)?.Workout;

                    if (workout != null)
                    {
                        @($"{workout.Name} {workout.Name}")
                    }
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="ExerciseLogDto" Field="Exercise.Description" Caption="Exercise">
            <DisplayTemplate>
                @{
                    var exercise = (context as ExerciseLogDto)?.Exercise;

                    if (exercise != null)
                    {
                        @($"{exercise.Description} {exercise.Description}")
                    }
                }
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="ExerciseLogDto" Field="Reps" Caption="Repetitions" Editable></DataGridColumn>
        <DataGridColumn TItem="ExerciseLogDto" Field="Duration" Caption="Duration" Editable></DataGridColumn>

        <DataGridCommandColumn TItem="ExerciseLogDto" Caption="Action" ClearFilterCommandAllowed="true">
            <EditCommandTemplate>
                <Button Color="Color.Primary" Clicked="() => EditExerciseLog(context)">Edit</Button>
            </EditCommandTemplate>
            <DeleteCommandTemplate>
                <Button Color="Color.Danger" Clicked="() => OnDeleteButtonClicked(context)">Delete</Button>
                <Modal @ref="modalRef" Closing="@OnModalClosing">
                    <ModalContent Centered>
                        <ModalHeader>
                            <ModalTitle>Confirm Delete</ModalTitle>
                        </ModalHeader>
                        <ModalBody>
                        Are you sure you want to delete this exercise log?
                        </ModalBody>
                        <ModalFooter>
                            <Button Color="Color.Secondary" Clicked="@CloseModal">No</Button>
                            <Button Color="Color.Primary" Clicked="@TryCloseModal">Yes</Button>
                        </ModalFooter>
                    </ModalContent>
                </Modal>
            </DeleteCommandTemplate>
        </DataGridCommandColumn>

    </DataGridColumns>
</DataGrid>

